@use '../settings/' as st;

@function _getBreakpoint($bp) {
  $mq-breakpoint: map-get(st.$breakpoints, $bp);
  $breakpoint: if($mq-breakpoint, $mq-breakpoint, $bp);
  @return $breakpoint;
}

@mixin mq($from: null, $until: null) {
  $condition: "(min-width: 0)";
  @if $from and $until {
    $from: _getBreakpoint($from);
    $until: _getBreakpoint($until) - 0.01px;
    $condition: "(min-width: #{$from}) and (max-width: #{$until})";
  } @else if $from {
    $from: _getBreakpoint($from);
    $condition: "(min-width: #{$from})";
  } @else if $until {
    $until: _getBreakpoint($until) - 0.01px;
    $condition: "(max-width: #{$until})";
  }
  @media #{$condition} {
    @content;
  }
}